<div class="about-container text-center">
  <h1>About Kitchen Picks</h1>

  <p>
    Kitchen Picksは、キッチン便利グッズのレビューを共有するアプリです。  
    あなたの「買ってよかった！」をみんなに届けましょう。
  </p>
  
  <%= image_tag "about_horizontal.png", class: "img-fluid mt-4" %>

</div>