<section class="about-section">
  <div class="about-panel mx-auto text-center">
    <h1 class="h2 mb-3">About Kitchen Picks</h1>

    <p class="about-lead mb-4">
      Kitchen Picksは、キッチン便利グッズのレビューを共有するアプリです。
      あなたの「買ってよかった！」をみんなに届けましょう。
    </p>

    <%= image_tag "about_horizontal.png", class: "img-fluid about-image" %>
  </div>
</section>